@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

nav a {
    background-color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 150%;
    text-align: center
}
nav a {color:gold}

h2 {
    font-family: 'Black Han Sans', sans-serif;
    color: steelblue;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 60px;
}


h1 {
    font-family: 'Black Han Sans', sans-serif;
    color: steelblue;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 80px;
}

h3 {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffff00;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 30px;
}

/*body {*/
/*  background-color: darkgreen;*/
/*  margin: 0; !* 페이지의 가장자리 여백 제거 *!*/
/*  padding: 0; !* 내용 주변 여백 제거 *!*/


/*}*/

p {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffff00;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 80px;
}

label {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 20px;
}

a {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 40px;
}