@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


#menu {
		font:bold 16px "malgun gothic";
		width:700px;
		height:50px;
		background: #ccc;
		color:black;
		line-height: 50px;
		margin:0 auto;
		text-align: center;
	}

.clock {
    font-family: 'Gowun Dodum', sans-serif;
     font-size: 150%;
    text-align: center
}
.content-head{
    padding : 30px
}

.content-head h2 {
    font-family: 'Black Han Sans', sans-serif;
    color: steelblue;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    /*margin-top: 50px;*/
    font-size: 60px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.people {
    display: flex;
}

.person img {
    height: 265px;
    width: 190px;
    border-radius : 30%;
    /*box-shadow : 5px 5px 5px;*/
    border:5px solid steelblue;
}
.content {
    padding : 20px
}
.person {
    padding: 10px;
    display: flex;
}

.person a {
    padding: 20px;
    font-size: 22px;
}
h1 {
    font-family: 'Black Han Sans', sans-serif;
    color: steelblue;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 80px;
}

h3 {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffff00;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 30px;
}


/*p {*/
/*    font-family: 'Black Han Sans', sans-serif;*/
/*    color: #ffff00;*/
/*    text-align: center;*/
/*    font-style: italic;*/
/*    font-weight: lighter;*/
/*    margin-top: 50px;*/
/*    font-size: 80px;*/
/*}*/

label {
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 20px;
}


:root{
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color:#d49466;
}

body {
    margin: 0px;
    font-family: 'Black Han Sans';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#263343;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 8px 12px;
    font-size: 20px;

}

.navbar__menu :hover {
    background: steelblue;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0px;
}

.navbar__icons li {
    padding: 8px 12px;
    font-size: 30px;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

/*nav바 다듬기*/
.title {
    font-size: 40px;
    padding: 30px;
}

/*자동슬라이드*/
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    /*border-radius:3%;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    /*border-radius:3%;*/
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);*/
}

.slideshow-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    /*animation-name: fade;*/
    animation-duration: 1s;

}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.slides{
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 2500px; !* 슬라이드할 사진과 마진 총 넓이 *!*/
  transition: left 0.5s ease-out;
  /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

/*menu 드롭다운 바 만들기*/
.dropdown{
  position : relative;
  display : inline-block;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
}

.dropdown-content a{
  display : block;
}

.dropdown:hover .dropdown-content {
  display: block;

}

/*about 링크 아이콘 추가*/
.github-link {
       color: black; /* GitHub link color */
       text-decoration: none;
       display: inline-flex;
       align-items: center;
       margin-top: 10px; /* Adjust as needed */

   }

.github-link i {
   margin-right: 5px; /* Adjust as needed */
    font-size: 30px;
}
/* project 메뉴*/
.project-img {
    width: 397px;
    height: 280px;
}

.each-project{
    padding-bottom: 20px;
}
