{% extends 'layout.html' %}

{% block content %}
    <div class="content">
        <div class="content-head">
            <h2>About</h2>
        </div>
        <div class="container">
            <div class="people">
                <div class="row">
                    <div class="col-md-6">
                        {# 김태곤교수님 #}
                        <div class="person">
                            <img src="./static/images/professor.jpg">
                            <div class="content">
                                <h2>김태곤</h2>
                                <p>emali : taegon@jbnu.ac.kr</p>
                                <a href="https://github.com/taegon" target="_blank" class="github-link">
                                    <i class="fab fa-github" script="color : black"></i></a>

                            </div>
                        </div>
                            {# 석승원학부생#}
                        <div class="person">
                            <img src="./static/images/seungwon.jpg">
                            <div class="content">
                                <h2>석승원</h2>
                            <p>email : champ9162@jbnu.ac.kr</p>
                                <a href="https://github.com/EthanSeok" target="_blank" class="github-link">
                                    <i class="fab fa-github" script="color : black"></i></a>
                            </div>
                        </div>
                            {# 전혜진학부생#}
                        <div class="person">
                            <img src="./static/images/hyejin.jpg">
                            <div class="content">
                                <h2>전혜진</h2>
                                <p>email : wls5258@jbnu.ac.kr</p>
                                <a href="https://github.com/202116302" target="_blank" class="github-link">
                                    <i class="fab fa-github" script="color : black"></i></a>
                            </div>
                        </div>
                            {# 양희원학부생#}
                        <div class="person">
                            <img src="./static/images/huiwon.jpg">
                            <div class="content">
                                <h2>양희원</h2>
                                <p>email : gmldnjs4212@jbnu.ac.kr</p>
                                <a href="https://github.com/Yanghuiwon22" target="_blank" class="github-link">
                                    <i class="fab fa-github" script="color : black"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        {# 김솔희박사님#}
                        <div class="person">
                            <img src="./static/images/solhee.jpg">
                            <div class="content">
                                <h2>김솔희</h2>
                                <p>email : solhee1101@jbnu.ac.kr</p>
{#                                <a href="https://github.com/깃허브이름" target="_blank" class="github-link">#}
{#                                    <i class="fab fa-github" script="color : black"></i></a>#}
                            </div>
                        </div>
                            {# 정재영학부생#}
                        <div class="person">
                            <img src="./static/images/jaeyoung.jpg">
                            <div class="content">
                                <h2>정재영</h2>
                                <p>email : jyihaan4@jbnu.ac.kr</p>
                                <a href="https://github.com/jungjae0" target="_blank" class="github-link">
                                    <i class="fab fa-github" script="color : black"></i></a>
                            </div>
                        </div>
                            {# 하다은학부생#}
                        <div class="person">
                            <img src="./static/images/danuni.jpg">
                            <div class="content">
                                <h2>하다은</h2>
                                <p>email : hekdms@jbnu.ac.kr</p>
                                <a href="https://github.com/danuni29" target="_blank" class="github-link">
                                    <i class="fab fa-github" script="color : black"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
{% endblock %}
