{% extends 'layout.html' %}

{% block content %}


    <h1>Smart Digital Agriculture Lab</h1>

<!--    현재시간 보여주기-->
    <link rel="stylesheet" type="text/css" href="static/hompage_1.css">
    <script type="text/javascript" src="static/clock.js"></script>

    <body onload="showClock()">
    <div id="divClock" class="clock">
    </div>
    </body>

<!--    현재날씨 보여주기-->
    <script type="text/javascript" src="static/today_weather.js"></script>
    <div class="weather">
          <div class="CurrIcon"></div>
          <div class="CurrTemp"></div>
          <div class="City"></div>
    </div>

{#자동슬라이드#}
    <script type="text/javascript" src="static/auto_slide.js"></script>
    <span class="slideshow-container">
                 <div class = 'Slidesbackground'>
                    <div class="mySlides fade">
                    <img src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src="https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src="https://images.unsplash.com/photo-1527526029430-319f10814151?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src="https://images.unsplash.com/photo-1600077029182-92ac8906f9a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src=https://cdn.cnn.com/cnnnext/dam/assets/201030094143-stock-rhodesian-ridgeback-super-tease.jpg" class="slideshow-image">
                    </div>
                </div>
             </span>

{% endblock %}