{% extends 'layout.html' %}

{% block content %}


    <h1>Smart Digital Agriculture Lab</h1>

<!--    현재시간 보여주기-->
    <link rel="stylesheet" type="text/css" href="static/hompage.css">
    <script type="text/javascript" src="static/clock.js"></script>
    <body onload="showClock()">
    <div id="divClock" class="clock">

    </div>
    </body>
<!--    현재날씨 보여주기-->
    <script type="text/javascript" src="static/today_weather.js"></script>
    <div class="weather">
          <div class="CurrIcon"></div>
          <div class="CurrTemp"></div>
          <div class="City"></div>
    </div>


{% endblock %}