{% extends 'layout.html' %}

{% block content %}
        <div class="content">
    <div class="content-head">
        <h2>Smart Digital Agriculture Lab</h2>
    </div>


    </div>


<!--    현재시간 보여주기-->
    <link rel="stylesheet" type="text/css" href="static/hompage_1.css">
    <link rel="stylesheet" type="text/css" href="static/fullcalendar.css">
    <script type="text/javascript" src="static/clock.js"></script>
    <script type="text/javascript" src="static/google_calendar.js"></script>
    <script type="text/javascript" src="static/fullcalendar.js"></script>
    <script type="text/javascript" src="static/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>


    <body onload="showClock()">
    <div id="divClock" class="clock">
    </div>
    </body>

<!--    현재날씨 보여주기-->
    <script type="text/javascript" src="static/today_weather.js"></script>
    <div class="weather">
          <div class="CurrIcon"></div>
          <div class="CurrTemp"></div>
          <div class="City"></div>
    </div>
<!--    구글 캘린더 연동  -->
    <iframe src="https://calendar.google.com/calendar/embed?src=5kdcovcbkie70icabt20i18hj4%40group.calendar.google.com&ctz=Asia%2FSeoul" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <div id="calendar"></div>
    <style>
    #calendar {
        width: 50%;
        height: 50%;
    }
    </style>

<script>
        $('#calendar'). fullCalendar ({
            googleCalendarApiKey : 'AIzaSyDrzL6t6GFjBxrxsPteq-9T9M-fi_XcfW4',
          header: {
               left: '',
               center: 'prev, title, next',
                // right: 'month, basicWeek, agendaDay'
                right: ''
           },
           monthYearFormat: 'MMMM YYYY',
           ventLimit: true,
           fixedWeekCount: false,
           defaultView: 'month',
            dayNamesShort: ["S","M","T","W","T","F","S"],
            buttonText: {
               today : "오늘",
               month : "월별",
               week : "주별",
               day : "일별",
             },
            eventSources : // 한국 기념일 ko.south_korea 추가
                [ { googleCalendarId : '5kdcovcbkie70icabt20i18hj4@group.calendar.google.com' }
                    , { googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com'
                    , className : 'ko_event' } ]
        });
 </script>


{#자동슬라이드#}
    <body onload="showSlides()">
    <span class="slideshow-container">
                 <div class = 'Slidesbackground'>
                    <div class="mySlides slides">
                        <img src="./static/images/slide_01.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides ">
                        <img src="./static/images/slide_02.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides ">
                        <img src="./static/images/slide_03.jpg" class="slideshow-image">
                    </div>
{#                    <div class="mySlides ">#}
{#                        <img src="https://images.unsplash.com/photo-1527526029430-319f10814151?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="slideshow-image">#}
{#                    </div>#}
{#                    <div class="mySlides ">#}
{#                        <img src="https://images.unsplash.com/photo-1600077029182-92ac8906f9a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="slideshow-image">#}
{#                    </div>#}
{#                    <div class="mySlides ">#}
{#                        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201030094143-stock-rhodesian-ridgeback-super-tease.jpg" class="slideshow-image">#}
{#                    </div>#}
                </div>
             </span>
    </body>

{% endblock %}