<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<head/>

    <!DOCTYPE html>
    <title>SDA</title>
    <link href="{{url_for('static', filename='homepage.css')}}"
          rel="stylesheet"
          type="text/css">


<body>
<div id="menu">
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="{{url_for('about_func')}}">About</a></li>
{#        <li><a href="{{url_for('menu_func')}}">Menu</a></li>#}
{#            <ul>#}
{#                <li><a href="#">진수당</a></li>#}
{#                <li><a href="#">후생관</a></li>#}
{#            </ul>#}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=href="{{url_for('menu_func')}}">진수원</a></li>
            <li><a class="dropdown-item" href=href="{{url_for('menu_func')}}">후생관</a></li>

          </ul>
        <li><a href="{{url_for('timetable_func')}}">Timetable</a></li>
    </ul>

    {% block content %}{% endblock %}
</div>
</body>

</html>