<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <title>SDA</title>#}
{#    <link rel="stylesheet" href="style.css">#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b17d4fa9e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-oS3vJw1+JigMCfH6Ad5F2vcVbC2x32/POxfmGFDGiQs/6D1GjO5m49M6I2a1jMIV" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/font-awesome/css/all.min.css">


    <script src="nav_bar.js" defer></script>

{#    <script src="main.js" defer></script>#}
    <title>SDA</title>
    <link href="{{url_for('static', filename='homepage.css')}}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/auto_slide.js"></script>

</head>
<body>
    <div class="header">
    <nav class="navbar">
        <div class="navbar__logo">
{#            <i class="fab fa-accusoft"></i>#}
            <a href="/" class="title">SDA</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('about_func')}}">About</a></li>
            <li><a href="{{url_for('project_func')}}">Project</a></li>
            <div class="dropdown">
                <span class="dropbtn"><li><a href="{{url_for('menu_func', mobile='mobile1')}}">Menu</a></li></span>
                    <div class="dropdown-content">
                        <li><a href="{{url_for('menu_func', mobile='mobile1')}}">진수원</a></li>
                        <li><a href="{{url_for('menu_func', mobile='mobile2')}}">의대</a></li>
                        <li><a href="{{url_for('menu_func', mobile = 'mobile3')}}">후생관</a></li>
                    </div>
            </div>

            <li><a href="{{url_for('timetable_func')}}">Timetable</a></li>

        </ul>



        <ul class="navbar__icons">
            <li><a href="https://github.com/SmartDigitalAg" class="fab fa-github" ></a></li>
            <li><i class="fab fa-blog"></i></li>
        </ul>

        <a class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    </div>
{% block content %}{% endblock %}
</body>
</html>